* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#root {
  height: 100vh;
}